@font-face {
	src: url(fonts/nimbusmono-regular.otf);
	font-family: Nimbus;
}

.App {
  height: 100vh;
  width: auto; 
}

h1 {
  font-size: 7vh;
  margin: auto;
  font-family: 'Nimbus';
  text-align: center;
  margin-bottom: -8vh;
}

h2 {
  size: 15vh;
  margin-top: 0vh;
  margin-bottom: 7vh; 
}

h3 {
  font-size: 4vh;
  margin-top: 48vh;
  margin-bottom: -10vh;
  font-family: 'Nimbus';
  text-align: center;
  margin-bottom: -8vh;
}

h4 {
  font-size: 4vh;
  margin-top: 14vh;
  margin-bottom: -10vh;
  font-family: 'Nimbus';
  text-align: center;
  margin-bottom: -8vh;
}

.rectHold {
  margin: auto;
  width: 80vh;;
  margin-top: 0vh;
}


.rectangle1 {
  position: absolute;
  margin-top: 20vh;
  margin-left: 30vh;
  width: 20vh;
  height: 20vh;
}

.hexInfo1 {
  font-size: 5vh;
  position: absolute;
  margin-top: 13vh;
  margin-left: 29vh;
  width: 20vh;
  height: 20vh;
}

.hexInfo2 {
  font-size: 5vh;
  position: absolute;
  margin-top: 13vh;
  margin-left: -1vh;
  width: 20vh;
  height: 20vh;
}

.hexInfo3 {
  font-size: 5vh;
  position: absolute;
  margin-top: 13vh;
  margin-left: 59vh;
  width: 20vh;
  height: 20vh;
}

.rectangle2 {
  position: absolute;
  margin-top: 20vh;
  margin-left: 0vh;
  width: 20vh;
  height: 20vh;
}

.rectangle3 {
  position: absolute;
  margin-top: 20vh;
  margin-left: 60vh;
  width: 20vh;
  height: 20vh;
}

@media (min-width:0px) and (max-width:600px) {

  h1 {
    font-size: 3.2vh;
    margin: auto;
    font-family: 'Nimbus';
    text-align: center;
    margin-bottom: -8vh;
  }

  h3 {
    font-size: 3vh;
    margin-top: 105vh;
    margin-bottom: -10vh;
    font-family: 'Nimbus';
    text-align: center;
    margin-bottom: -8vh;
  }

  h4 {
    font-size: 3vh;
    margin-top: 14vh;
    margin-bottom: -10vh;
    font-family: 'Nimbus';
    text-align: center;
    margin-bottom: -8vh;
  }

  .App {
    height: 146vh;
    width: auto;
  }

  .rectHold {
    margin: auto;
    width: 20vh;
    margin-top: 0vh;
  }

  .rectangle1 {
    position: absolute;
    margin-top: 50vh;
    margin-left: 0vh;
    width: 20vh;
    height: 20vh;
  }

  .rectangle2 {
    position: absolute;
    margin-top: 20vh;
    margin-left: 0vh;
    width: 20vh;
    height: 20vh;
  }
  
  .rectangle3 {
    position: absolute;
    margin-top: 80vh;
    margin-left: 0vh;
    width: 20vh;
    height: 20vh;
  }

  .boxHold {
    position: absolute;
    margin: auto;
    width: 100vw;
    margin-top: 5vh;
  }

  .hexInfo1 {
      font-size: 5vh;
      position: absolute;
      margin-top: 43.5vh;
      margin-left: 0vh;
      width: 20vh;
      height: 20vh;
    }
    
    .hexInfo2 {
      font-size: 5vh;
      position: absolute;
      margin-top: 13vh;
      margin-left: 0vh;
      width: 20vh;
      height: 20vh;
    }
    
    .hexInfo3 {
      font-size: 5vh;
      position: absolute;
      margin-top: 73vh;
      margin-left: 0vh;
      width: 20vh;
      height: 20vh;
    }
  
  }
