@font-face {
	src: url(fonts/nimbusmono-regular.otf);
	font-family: Nimbus;
}

.App {
  height: 100vh;
  width: auto; 
}

h1 {
  font-size: 7vh;
  margin: auto;
  font-family: 'Nimbus';
  text-align: center;
  margin-bottom: -8vh;
}

h2 {
  size: 15vh;
  margin-top: 0vh;
  margin-bottom: 7vh; 
}

h3 {
  font-size: 4vh;
  margin-top: 48vh;
  margin-bottom: -10vh;
  font-family: 'Nimbus';
  text-align: center;
  margin-bottom: -8vh;
}

h4 {
  font-size: 4vh;
  margin-top: 14vh;
  margin-bottom: -10vh;
  font-family: 'Nimbus';
  text-align: center;
  margin-bottom: -8vh;
}

.boxHold {
  position: absolute;
  margin: auto;
  width: 100vw;
  margin-top: 5vh;

}

.rectHold {
  margin: auto;
  width: 80vh;;
  margin-top: 0vh;
}


.rectangle1 {
  position: absolute;
  margin-top: 20vh;
  margin-left: 30vh;
  width: 20vh;
  height: 20vh;
}

.hexInfo1 {
  font-size: 5vh;
  position: absolute;
  margin-top: 13vh;
  margin-left: 29vh;
  width: 20vh;
  height: 20vh;
}

.hexInfo2 {
  font-size: 5vh;
  position: absolute;
  margin-top: 13vh;
  margin-left: -1vh;
  width: 20vh;
  height: 20vh;
}

.hexInfo3 {
  font-size: 5vh;
  position: absolute;
  margin-top: 13vh;
  margin-left: 59vh;
  width: 20vh;
  height: 20vh;
}

.rectangle2 {
  position: absolute;
  margin-top: 20vh;
  margin-left: 0vh;
  width: 20vh;
  height: 20vh;
}

.rectangle3 {
  position: absolute;
  margin-top: 20vh;
  margin-left: 60vh;
  width: 20vh;
  height: 20vh;
}